/*=== Web Fonts ===*/


/*=== Universal Styles ===*/
* {
    box-sizing: border-box;
}

/*=== Base Element Styles ===*/


body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
    line-height: 1.6em;
    margin: 0;
    padding: 0;
}

img {
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
}

h1,
h2,
h3,
a {
    color: #595959;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
p {
    font-size: 1.3em;
    line-height: 1.6em;
    color: gray;
}

a {
    text-decoration: none;
}

a:visited {
    color: #454545;
}

a:hover {
    color: darkgoldenrod;
}

hr {
    width: 95%;
    border-color: rgba(212, 212, 212, 0.3);
}

#portfolio {
    padding-bottom: 30px;
    font-size: 1.2em;
}

/*=== Base Layout Styles ===*/

/*Navigation Styles*/

.main-nav li {
    width: 100%;
    margin: 10px 0;
    font-size: 1.5em;
    color: #595959;
    text-transform: uppercase;
    line-height: 1.5em;
    background: #fff;
    display: block;
    padding: 10px;
}

/*Layout Containers*/

.main-header {
    background: #f2f2f2;
    text-align: center;
    margin-bottom: 60px;
    padding: 1em 2em 2em 2em;
}

.main {
    text-align: center;
}

.main p{
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: 30px;
}

.connect {
    text-align: center;
    border-bottom: 5px;
    margin-bottom: 60px;
    margin-top: 30px;
}

.footer-container {
    background: #f2f2f2;
    padding: 1em 1em 5em 1em;
    width: 100%;
}

.back-to-top {
    float: right;
    margin-right: 10px;
}

.main-footer {
    float: left;
    margin-left: 10px;
}

.footer-nav {
    display: none;
}


/*Page Elements*/

.profile-image {
    width: 250px;
    padding-top: 50px;
}

.headline {
    color: tomato;
}

/*=== Media Queries ===*/

@media (min-width: 768px) {

.container {
    width: 90%;
    margin: 0 auto;
}

.container p {
    font-size: 1em;
    line-height: 1.5em;
}

.container h2 {
    font-size: 1.25em;
}

.col {
    float: left;
}

.primary,
.secondary {
    width: 50%;
}

.main-nav {
    margin-bottom: 30px;
}
.main-nav li {
    display: inline;
    background: none;
    font-size: 1em;
}

.profile-image {
    width: 300px;
    float: right;
    margin-left: 30px;
    padding: 0;
}

.profile p {
    text-align: left;
}

.footer-container {
    margin-top: 30px;
}

.connect {
    margin-left: 60px;
    margin-right: 60px;
}
.main-footer {
    float: left;
    margin-top: 15px;
    margin-left: 20px;
}

.footer-nav {
    float: right;
    display: inline;
}

.footer-nav li {
    float: right;
    margin-right: 20px;
    margin-top: 15px;
}

.back-to-top {
    display: none;
}

 /*=== Clearfix ===*/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
    

}


@media (min-width: 1024px){

    .container {
        width: 95%;
        max-width: 1150px;
        margin: 0 auto;
    }

    .container p {
        font-size: 1em;
    }

    .container h2 {
        font-size: 1.25em;
    }
    
    .headline,
    .main-nav {
        margin-top: 35px;
    }

    .headline {
        margin-top: 35px;
        padding: 0;
        float: left;
        font-size: 1.5em;
    }

    .main-nav {
        margin-top: 35px;
        padding: 0;
        float: right;
    }

    .main-nav a {
        background:#d4d4d4;
        border-radius: 5px;
        padding: 10px;  
    }

    .main-nav a:hover {
        background: goldenrod;
        color: #454545;
    }

    .main-nav li {
        padding: 0 15px;
        font-size: 1em;
    }

    .profile p {
        font-size: 1em;
    }

    .primary,
    .secondary {
        width: 33.3%;
    }

    .footer-container {
        margin-top: 30px;
}

}